
@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
  --bg:      #060606;
  --surface: #0e0e0e;
  --border:  #1c1c1c;
  --muted:   #252525;
  --text:    #e8e8e8;
  --dim:     #555;
  --faint:   #1e1e1e;
  --red:     #ff0000;
  --green:   #22c55e;
  --mono:    'DM Mono', monospace;

 --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


html,body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: var(--bg); }
::-webkit-scrollbar-thumb { background: var(--muted); border-radius: 2px; }

input, button, textarea, select { font-family: inherit; }
input:focus, textarea:focus, select:focus { outline: none; border-color: var(--red) !important; }
::selection { background: rgba(255,0,0,.2); }

@keyframes spin  { to { transform: rotate(360deg); } }
@keyframes fadeUp {
  from { opacity:0; transform:translateY(8px); }
  to   { opacity:1; transform:translateY(0); }
}
@keyframes slide {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
